<style>
    a:visited,a{
        color:gray;
    }
    body{
        color:darkgray;
        background-color: black;
    }
    .nav_div{
        padding: 1em;
    }
    .nav_logo{
        width: 8em;
        filter: invert(50%);
    }
    .nav_buttons{
        padding:1em;
    }
    .nav_header{
        font-size: 5em;
    }
    .nav_link_li{
        color:black;
        display: inline-block;
        margin-right: 1em;
        margin-bottom: 3em;
    }
    a.nav_link,a.nav_link:visited{
        font-size:2em;
        width:100%;
        background-color: darkgray;
        border-radius: 1em;
        padding:0.5em;
        text-decoration: none;
        color:black;
    }
    .footer_div{
            margin-top:2em;
    }
    div.div_col{
            display: inline-block;
            background-color: black;
            border-style: solid;
            /*border-color: white;*/
            padding: 0.2em;
            margin: 0em !important;

    }
    div.div_row{
            /*background-color: white;*/
            display: inline-block;
    }
    div.db_out_div{
            font-size: 2em;
            display: block;
    }
    .db_input{
            font-size: 2rem;
            /*height:1.5rem;*/
    }
</style>
