<div class="nav_div" style="">
    <img src="https://alexverrico.com/assets/img/logoBlack.svg" alt="logo" class="nav_logo">
    <span class="nav_header"><b>Archive System</b></span><br/>
    <ul class="nav_buttons">
        <li class="nav_link_li nav_link_1"><a class="nav_link" href="/">Home</a></li>
        <li class="nav_link_li nav_link_2"><a class="nav_link" href="/entry_by_id/">Entry by ID</a></li>
        <li class="nav_link_li nav_link_3"><a class="nav_link" href="/find_by_name/">Find entry by name</a></li>
        <li class="nav_link_li nav_link_4"><a class="nav_link" href="/find_by_tag">Find entry by tag</a></li>
    </ul>
</div>
